body {
   font-family: Ubuntu, Arial, sans-serif;
}
h2 {
   margin: 10px 0
}
.container {
   /* border: 1px solid black; */
   padding: 10px;
}
.row {
   display: flex;
}
.col-5 {
   flex: 50%;
   border: 1px solid black;
}
.icon {
   position: relative;
   top: 5px;
   margin-right: 5px;
}
