body {
   font-family: Ubuntu, Arial, sans-serif;
}
h2 {
   margin: 10px 0
}
.border {
   border: 1px solid black;
}
.container {
   padding: 10px;
}
.row {
   display: flex;
}
.col-3 {
   flex: 25%;
}
.col-4 {
   flex: 33%;
}
.col-6 {
   flex: 50%;
}
.col-8 {
   flex: 66%;
}
.col-9 {
   flex: 75%;
}
.icon {
   position: relative;
   top: 5px;
   margin-right: 5px;
}
